 /* o asterisco se refere a todos elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white:#fff;
    --background: #F2F3F5;
    --gray-line: #DCDDE0;
    --text: #666666;
    --text-highlight: #B3B9FF;
    --title: #2E384D;
    --red: #E83F5B;
    --green: #4CD62B;
    --blue: #5965E0;
    --blue-dark: #4953B8;
    --blue-twitter: #2AA9E0;
}

@media(max-width: 1080px){
    html {
        /*16x0,9375 = 15, ou seja, estou diminuindo 1px dentro das medidas de todos elementos que eu utilizar na aplicação */
        font-size: 93.75%;
    }
}
/*os media fazem a adaptação de tamanho para dispositivos menores/mobile*/
@media(max-width: 720px){
    html {
        font-size: 87.5%;
    }
}

body{
    background :var(--background);
    color: var(--text);
}

body, input, textarea, button{
    /*rem = cada 1 rem equivale ao tamanho do  font-size do corpo da nossa aplicação padrão 16px*/
    font: 400 1rem "Inter", sans-serif;
}

button{
    cursor: pointer;
}

/* o 'a' se refere a todos links da aplicação */
a{
    /* color inherit vai herdar a cor do container dos links*/
    color: inherit;
    text-decoration: none;
}


